@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header {

    background-color:#a8ebd5;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;


}

.navbar .login-btn {
    border: none;
    outline: none;
    background: #a8ebd5;
    color:black;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #FFFAFA;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background-color: white;
    border: 2px solid black;
    transform: translate(-50%, -70%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #95eed0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #00bcd4;
    font-size: 0.75rem;
}

.form-box a {
    color: #95eed0;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}
form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #95eed0;
    transition: 0.2s ease;
}

form button:hover {
    background: #0097a7;
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}









.logo{
    text-decoration:none;
    color:#000000;
    font-size:30px;
    font-weight: 700;
}
.logo span{
    color:#40a3a3;
}

.navigation a{

    text-decoration: none;
    color: black;
    font-size:20px;
    font-weight: 500;
    padding-left: 35px;

}
.navigation a:hover{
    
    color: #FFFAFA;

}

section{

padding: 100px 150px;
}
.main p{
    margin-right: 600px;
    font-size: 15px;
    font-style: italic;
    font-weight: 20px;
    line-height:25px ;
    
}
.main{

    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    background:url(Doctors-bro.png) no-repeat ;
    background-size:550px;
    background-position: right;
    background-color: rgb(247, 250, 249);
   
}

.main h1{
    font-size: 50px;
}

.botton{
    color: rgb(10, 10, 10);
    background-color:#a8ebd5;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 15px 35px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
     
}
.botton:hover{
    
    transform: scale(1.1, 1.1);
}
.title{
    display: flex;
    justify-content: center;
    font-size:35px ;
    font-weight:700px;
    margin-bottom:30px; 
 
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.item{
    background-color: rgb(228, 243, 237);
    width: 335px;
    border-radius: 20px;
    padding: 25px;
    margin: 15px;

}
.item:hover{
    transform: scale(1.1, 1.1);
}
.icons{
    color: #a8ebd5;
    font-size: 130px;
    text-align: center;
}
.info{
    text-align: center;
}
.About .row{
 padding: 32px;
 display: flex;
 align-items: center;
 justify-content:space-around;
 line-height: 25px;
 font-style: italic;
}
.About img{
    width: 600px;
    height: 600px;
    margin: 50px;
   
}
.Book .row{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.Book img{
    width: 650px;
    height: 600px;
    
}
.Book form{
    width: 500px;
    height: 580px;
    background-color: #a8ebd5;
    text-align: center;
    padding:32px;
    border-radius:30px;
    
}
.Book .box{
    width: 100%;
    margin:15px 0;
    border-radius: 50px;
    font-size: 20px;
    color: black;
    padding:10px;
}
.Book .btn{
    padding:20px;
    font-size: larger;
    background-color: #a8ebd5;
}
.Book .btn:hover{
    transform: scale(1.1, 1.1);
}


